body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  background: #f5f5f7;
}

nav {
  display: flex;
  justify-content: space-around;
  background: white;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
  border-top: 1px solid #ddd;
}

nav button {
  background: none;
  border: none;
  font-size: 16px;
}

main {
  padding: 20px;
  padding-bottom: 80px;
}

.screen {
  display: none;
}

.screen.active {
  display: block;
}

.primary {
  background: black;
  color: white;
  padding: 12px;
  border-radius: 10px;
  border: none;
  width: 100%;
  margin-top: 10px;
}/* --- Estilo iPhone --- */
main {
  max-width: 420px;
  margin: auto;
}

h1 {
  font-size: 28px;
}

p {
  font-size: 18px;
}

button {
  font-size: 18px;
  padding: 14px;
  border-radius: 14px;
}

